<!DOCTYPE html>
<html ng-app="App">
<head>    
<title>Empleados List Angular</title>  

 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
 <script src="http://code.angularjs.org/1.2.16/angular-resource.js"></script>
 <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

 </head>
<body>
 
Empleados List Angular
<div class="container-fluid">
	<div ng-controller="mainCtrl">
     
		<table id="tabla" class="table table-striped table-hover table-bordered">
		<tr>
		 <td>id</td>
		 <td>name</td>
		 <td>gender</td>
		 <td>adress</td>
		 <td>city</td>
		 <td>provincia</td>
		 <td>fecha</td>
		
		</tr>  
		<tr ng-repeat="element in objects | filter : paginate">
		 <td>{{element.id}}</td>
		 <td>{{element.name}}</td>
		 <td>{{element.gender}}</td>
		 <td>{{element.adress}}</td>
		 <td>{{element.city}}</td>
		 <td>{{element.provincia}}</td>
		 <td>{{element.fecha}}</td>
		</tr>
		
		</table>
		<pagination total-items="totalItems" ng-model="currentPage"
		    max-size="5" boundary-links="true"
		    items-per-page="numPerPage" class="pagination-sm">
		</pagination>
		<br>
        <input type="button" value="Export" ng-click="export()" />	
        <input type="button" value="getListToPdf" ng-click="getpdf()" />	
        <input type="button" value="putListToPdf" ng-click="getpdf2()" />
    </div>
</div>        
  <script>
  window.App = angular.module('App', ['ui.bootstrap']);

  App.controller('mainCtrl', ['$scope','$http', function($scope,$http) {

  $http.get('empOrderByProvincia')
  .success(function (response){
    $scope.objects = response;
    console.log($scope.objects);


    
    $scope.totalItems= $scope.objects.length;
    $scope.currentPage = 1;
    $scope.numPerPage = 15;
    
    $scope.paginate = function(value) {
      var begin, end, index;
      begin = ($scope.currentPage - 1) * $scope.numPerPage;
      end = begin + $scope.numPerPage;
      index = $scope.objects.indexOf(value);
      return (begin <= index && index < end);
    };
    
       $scope.export = function () {
           html2canvas(document.getElementById('tabla'), {
               onrendered: function (canvas) {
                   var data = canvas.toDataURL("image/png");
                   var docDefinition = {
                       content: [{
                           image: data,
                           width: 500
                       }]
                   };
                   pdfMake.createPdf(docDefinition).download("document.pdf");
               }
           });
        }
       

  	 $scope.getpdf = function () { 
  	   //var data = { lista : $scope.objects}
  	   var data = { lista : $scope.objects}
  	   $http.get("/getpdf").then(function (response) {
  		   if (response)
  				console.log("Post Data Submitted Successfully!");
        //$window.location.reload();
			}, function (response) {
			$scope.msg = "Service not Exists";
			$scope.statusval = response.status;
			$scope.statustext = response.statusText;
			$scope.headers = response.headers();
			});

		};
       
       
	  	 $scope.getpdf2 = function () { 
	    	   var data = {lista2: $scope.objects}
	    	   console.log("Post Data ...");
	    	   $http.post("/getpdf", data).then(function mySuccess(response) {
	               $scope.myWelcome = response.data;
	               alert("OK "+$scope.myWelcome);
	           }, function myError(response) {
	               $scope.myWelcome = response.statusText;
	               alert("error "+$scope.myWelcome);
	           });
	  	}
	  		
})

  }]);
  </script>
</body>
</html>
