<!DOCTYPE html>
<html><head>    <title>AngularJS LobsList</title>  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>  
  <!-- script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.js"></script-->
 </head>
<body ng-app ng-controller="MyFilter">
 Lobs List AngularJS
<table border="1">
<tr>
  <td>id</td>
  <td>doc</td>
</tr>  

<tr ng-repeat="e in lista | filter:e.id | orderBy:'id'">
<label>Search: <input ng-model="e.id"></label>

  <td>{{e.id}}</td>
  <td>
<img ng-src="data:image/JPEG;base64,{{e.dataBlob}}">
  
  </td>  
</tr>
 
</table>
 <script> 
       function MyFilter($scope,$http)
  {       
    	   var blob = {
    			      responseType: 'blob'
    			  };    	   
    	   $http.get('LobsList')
    	    .success(function (response){
    	    	 $scope.lista = response;
    	    	 console.log($scope.lista);


    	    })
    	    .error(function (response){
    	        	        console.log(response); 
    	  }); 
    	   
  

	}
  
</script>
</body>
</html>
</html>