<!DOCTYPE html>
<html ng-app="App">
<head>    
<title>AngularJS Provincias List</title>  
  <!-- script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script-->
 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tree/2.1.0/angular-ui-tree.min.css
">
 <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
 <script src="http://code.angularjs.org/1.2.16/angular-resource.js"></script>
 <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

 
 <script>
	
	window.App = angular.module('App', []);
	
	 App.controller('MainCtrl', ['$scope','$http', function($scope,$http) {
   
	 $http.get('provinciasList')
	 .success(function (response){
	   $scope.pList = response;	
	   console.log($scope.pList);	   
	 
	   })

	     }]);		  
 </script>
 </head>
<body>
 
Provincias List AngularJS
 
 
<div ng-controller="MainCtrl">
    <ul>
      <li ng-repeat="p in pList">
       {{p.nom}}
      </li>
    </ul>

</div>
 
		     

