<!DOCTYPE html>
<html ng-app="App">
<head>    
<title>AngularJS Provincias List</title>  
  <!-- script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script-->
 <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-tree/2.1.0/angular-ui-tree.min.css
">
 <script src="http://code.angularjs.org/1.2.16/angular.js"></script>
 <script src="http://code.angularjs.org/1.2.16/angular-resource.js"></script>
 <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

 
 <script>
	
	window.App = angular.module('App', []);
	
	 App.controller('MainCtrl', ['$scope','$http', function($scope,$http) {
   
	 $http.get('ProvsOrderByNom')
	 .success(function (response){
	   $scope.opciones = response;	
	   $scope.variableSeleccionada = '';
	   })

	     }]);		  
 </script>
 </head>
<body>
 
Provincias List AngularJS
 
 
<div ng-controller="MainCtrl">

<select ng-model="variableSeleccionada" ng-options="item for item in opciones" >
    <option value=""></option>
</select>

<p>Opción seleccionada: {{variableSeleccionada}}</p>
    
</div>
 
 
 		     

